footer {
  background: #1c1c1c;
  color: #fff;
  padding: 50px 0 50px 20px;

  .wrapper {
    display: flex;
    justify-content: center;
    width: 92%;
    margin: 0 auto;
  }

  .box {
    width: 233px;
  }

  .box:nth-of-type(1) {
    margin-right: 150px;
  }

  .box:nth-of-type(2) {
    margin-right: 150px;
  }

  .footer-heading {
    font-size: 1.7rem;
    padding: 0 0 20px;
    border-bottom: 1px solid grey;
    width: 100%;
  }

  .support {
    margin: 25px 0 5px;

    h6 {
      font-size: 1rem;
      font-weight: bold;
    }
    p {
      margin-left: 12px;
      font-weight: bold;
      font-size: 0.9rem;
    }
  }

  .email {
    margin: 40px 0 20px;
    h6 {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .services {
    li:first-of-type {
      margin-top: 20px;
    }
    li {
      list-style-type: none;
      margin: 30px 0 40px;
      font-weight: bold;

      i {
        margin-right: 5px;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .copyright {
    display: block;
    margin: 50px auto 0;
    font-size: 0.8rem;
    text-align: center;
    color: grey;
  }
}
