footer {
  background: #1c1c1c;
  color: #fff;
  padding: 50px 0 50px 20px;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 92%;
    margin: 0 auto;
    max-width: 1380px;
  }

  .box {
    width: 233px;
  }

  .footer-heading {
    font-size: 1.7rem;
    padding: 0 0 20px;
    border-bottom: 1px solid grey;
    width: 100%;
    font-family: 'Heebo';
    font-weight: 100;
  }

  .support {
    margin: 20px 0 5px;

    h6 {
      font-size: 0.9rem;
      font-weight: 500;
      font-family: 'Heebo';
    }
    p {
      margin-left: 12px;
      font-weight: 500;
      font-size: 0.9rem;
      font-family: 'Heebo';
    }
  }

  .email {
    margin: 40px 0 20px;
    h6 {
      font-size: 0.9rem;
      a {
        font-weight: 500;
        font-family: 'Heebo';
      }
    }
  }

  .services {
    li:first-of-type {
      margin-top: 20px;
    }
    li {
      font-family: 'Heebo';
      list-style-type: none;
      margin: 30px 0 40px;
      font-weight: 500;
      font-size: 0.9rem;

      i {
        margin-right: 5px;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .copyright {
    display: block;
    margin: 50px auto 0;
    font-size: 0.8rem;
    text-align: center;
    color: grey;
  }
}
